.CountryHome {
    $width: 320px;
    display: block;
    width: $width;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 10px 2px var(--box-shadow-light);
    overflow: hidden;
    background-color: var(--white);
    transition: 0.5s;

    &:hover {
        transform: scale(1.05);
    }

    img {
        display: block;
        width: 100%;
        height: calc($width * 240 / 380);
        object-fit: cover;
        object-position: center;
        box-shadow: 0px 1px 10px hsla(0, 0%, 52%, 0.212);
    }

    .CountryDetails {
        padding: 2rem;
        color: var(--very-dark-blue-text);
        transition: color 0.5s;

        h1 {
            font-weight: 800;
            font-size: large;
            margin-bottom: 15px;
        }

        .Details {
            display: flex;
            flex-direction: column;
            row-gap: 7px;

            .Detail {
                font-weight: 300;
                font-size: var(--size-400);

                .DetailBold {
                    font-weight: 600;
                }
            }
        }
    }
}

.CountryHomeDark {
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 10px 2px var(--box-shadow-dark);

    .CountryDetails {
        color: var(--white);
    }
}
