@use "../../mixins.module.scss";

.CountriesSection {
	display: flex;
	flex-direction: column;
	row-gap: 50px;

	.Countries {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 50px;
	}
}
