@use "./mixins.module.scss";

.App {
	background-color: var(--very-light-gray);
	min-height: 100vh;
	transition: 0.5s;
	padding-bottom: 50px;
	overflow: hidden; // route animation

	main {
		@include mixins.container;
	}
}

.AppDark {
	background-color: var(--very-dark-blue-bg);
}
